<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.RedTroops.RedTroopsSDK.Test"
    android:versionCode="3"
    android:versionName="1.2.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <!-- Permissions for RedTroops SDK -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <!-- GET_ACCOUNTS permission is only needed if the minSdkVersion is lower than 14 (4.0.4), you may remove it otherwise -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- End of Permissions for RedTroops SDK -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.RedTroops.RedTroopsSDK.Test.TestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RedTroops SDK (MANDATORY) -->
        <activity
            android:name="com.RedTroops.RedTroopsSDK.RedTroopsPopupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.RedTroops.RedTroopsSDK.RedTroopsMorePageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- GCM Receiver for RedTroops SDK -->
        <receiver
            android:name="com.RedTroops.RedTroopsSDK.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.RedTroops.RedTroopsSDK.Test" />
            </intent-filter>
        </receiver>

        <service android:name="com.RedTroops.RedTroopsSDK.gcm.GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- End of RedTroops SDK (MANDATORY) -->
    </application>

</manifest>